:root {
    --main-color:rgb(173, 0, 241);
    --text-color:rgb(132, 0, 150);
}

*{
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display:none;
}
.hidden {
    display:none;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    color:white;
}

.word-display {
    padding: 30px;
    font-size: 60px;
    font-weight: 500;
    color:var(--text-color);
    width: 100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-info {
    display:flex;
    margin-top:40px;
    justify-content: space-between;
}

.game-info span {
    color: var(--text-color);
    font-size: larger;
}

.word-input-box {
    width: 30%;
    min-width: 230px;
}

input {
    box-sizing: border-box;
    width:100%;
    height: 25px;
    padding: 0 3px;
}

.game-info div {
    margin: 0 20px;
}

.btn {
    margin-top:30px;
    background-color: var(--main-color);
    border:0;
    padding:5px 10px;
    border-radius: 5px;
    color: white;
}


.loading {
    background-color: rgb(201, 199, 199);
    cursor:not-allowed;
}

.on-mouse {
    border : 1px solid black;
}

.setting {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(234, 230, 253);
    border-radius: 10px;
}

.time-set {
    display:flex;
    justify-content: center;
    align-items: center;
}
.length-set {
    display:flex;
    justify-content: center;
    align-items: center;
}
.set-option {
    width:50px;
}
.set-text {
    margin:5px 10px;
    color: var(--text-color);
    font-weight: bolder;
}
.text-style {
    font-weight: bolder;
    font-size: large;
}